<!DOCTYPE HTML>
<html lang="ES">
	<head>
		<meta charset=utf-8>
		<title>INICIO</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/examen.js"></script>
	</head>
	<body>
		<div class="span5 offset6">
			<br><br><br><br>
			<div class="hero-unit">
				<h3>datos de ingreso</h1>
		
				<form id="formulario1">
					Introduce usuario: 
					<input type="text" id="usuario" onBlur="iniciar(this)" >
					<br>
					ingrese clave:
					<br>
					<input type="password" id="clave" onBlur="iniciar(this)">
					<br>

					<input type="button" class="btn btn-inverse" value="ingresar">
				</form>
			</div>
		</div>

	</body>
